@if app.user.id > 0
<a style="margin-right: .5em;" href="/post/create"><button>New post</button></a>
@if is_page
[ <a href="/blog">Posts</a> | Pages ]
@else
[ Posts | <a href="/pages">Pages</a> ]
@end
@end

@if posts.len > 0
<ul class="posts">
    @for post in posts
    <li>
        <span class="meta">
            @if post.is_page
            /@post.slug
            @end
            @if post.is_page == false
            <time>@{post.created_at}</time>
            @end
        </span>
        @if post.draft
        (Draft) &nbsp; <a href="/p/@post.slug?preview=1">@post.title</a>
        @else
        <a href="/p/@post.slug">@post.title</a>
        @end
    </li>
    @end
</ul>
@else
<p>
    -- empty --
</p>
@end