@if app.user.id > 0
@if post.is_page
<a href="/pages"><button type="button">&larr; Back</button></a>
@else
<a href="/blog"><button type="button">&larr; Back</button></a>
@end
<a href="/post/@post.id"><button type="button">Edit</button></a>
@end

@if post.is_page
<article>
    @{post.content}
</article>
@else
<article class="post">
    <h1>@{post.title}</h1>
    <div class="meta">
        <time datetime="@{app.services.utils_format_date(post.created_at, 'YYYY-MM-DDTHH:mm:ss.sssZ')}">
            @{post.created_at}
        </time>
        &#183;
        @{read_time} minutes read
        @if show_last_modified
        &#183;
        Last modified: @{post.updated_at}
        @end
    </div>
    @{post.content}
</article>
@end