<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
  <title>@{app.config('site.title')}</title>
  <link>@host</link>
  <description>@{app.config('site.description')}</description>
  @for post in posts
  <item>
    <title>@post.title</title>
    <link>@host/p/@post.slug</link>
    <description>@{app.services.utils_html_escape(app.services.utils_markdown_parse(post.content))}</description>
    <guid isPermaLink="false">@host/p/@post.slug</guid>
    <pubDate>@{app.services.utils_format_date(post.created_at, 'ddd, DD MMM YYYY HH:mm:ss ZZ')}</pubDate>
  </item>
  @end
</channel>

</rss> 