@if ctx.form_error.len > 0
<div class="form-error">@ctx.form_error</div>
@end

<form method="POST" enctype="multipart/form-data">
    <div class="form-control">
        <label for="inp-file">Choose files:</label>
        <input type="file" name="files" multiple />
    </div>
    <button type="submit">Upload</button>
</form>

@if files.len == 0
<p>-- empty --</p>
@end
<ul class="items">
    @for file in files
    <li class="item">
        <a href="/files/@file.name" target="_blank">@file.name</a>
        @{app.services.utils_format_filesize(file.size.int())}
        <br>
        <a href="javascript:void(0)" class="danger" data-delete="/files/delete/@file.id" onclick="show_confirm(event)">Delete</a>
    </li>
    @end
</ul>