@if ctx.form_error.len > 0
<div class="form-error">@ctx.form_error</div>
@end

<form method="post">
    <label for="inp-username">username:</label>
    <input id="inp-username" name="username" type="text" />
    <label for="inp-password">password:</label>
    <input id="inp-password" name="password" type="password" />
    <button>Login</button>
</form>