@if ctx.form_error.len > 0
<div class="form-error">@ctx.form_error</div>
@end

<form method="post">
    <a href="/p/@post.slug?preview=1"><button type="button">&larr; Back</button></a>
    <button type="submit">Save</button>
    <button data-delete="/post/delete/@post.id" onclick="show_confirm(event)" type="button"
        style="color: red;">Delete</button>
    @if post.draft
    (Draft)
    @else
    (Published)
    @end

    <br>

    @if post.is_page
    <input type="checkbox" name="is_page" id="inp-ispage" checked />
    @else
    <input type="checkbox" name="is_page" id="inp-ispage" />
    @end
    <label style="display: inline;" for="inp-ispage">Page</label>

    <br>

    @if post.draft
    <input type="checkbox" name="draft" id="inp-draft" checked />
    @else
    <input type="checkbox" name="draft" id="inp-draft" />
    @end
    <label style="display: inline;" for="inp-draft">Draft</label>

    <br>

    <label for="inp-title">Title: <span style="color: red;">*</span></label>
    <input id="inp-title" name="title" class="w-full" type="text" placeholder="Hello world" value="@post.title" />

    <label for="inp-slug">Slug:</label>
    <input id="inp-slug" name="slug" class="w-full" type="text" placeholder="hello-world" value="@post.slug" />

    <label for="inp-content">Content: <span style="color: red;">*</span></label>
    <textarea name="content" id="inp-content" class="w-full" rows="25">@post.content</textarea>

    <label for="inp-tags">Tags:</label>
    <input id="inp-tags" name="tags" class="w-full" type="text" placeholder="journal,quote" value="@post.tags" />
</form>