@if ctx.form_error.len > 0
<div class="form-error">@ctx.form_error</div>
@end

<form method="POST">
    <a href="/"><button type="button">&larr; Back</button></a>
    <button type="submit">Save</button>
    
    <br>

    <input type="checkbox" name="is_page" id="inp-ispage" />
    <label style="display: inline;" for="inp-ispage">Page</label>

    <br>

    <input type="checkbox" name="draft" id="inp-draft" />
    <label style="display: inline;" for="inp-draft">Draft</label>

    <br>


    <label for="inp-title">Title: <span style="color: red;">*</span></label>
    <input id="inp-title" name="title" class="w-full" value="@{ctx.form['title']}" type="text" placeholder="Hello world" />

    <label for="inp-slug">Slug:</label>
    <input id="inp-slug" name="slug" class="w-full" type="text" value="@{ctx.form['slug']}" placeholder="hello-world" />
    
    <label for="inp-content">Content: <span style="color: red;">*</span></label>
    <textarea name="content" id="inp-content" class="w-full" rows="25">@{ctx.form['content']}</textarea>
    
    <label for="inp-tags">Tags:</label>
    <input id="inp-tags" name="tags" class="w-full" type="text" value="@{ctx.form['tags']}" placeholder="journal,quote" />
</form>