@if ctx.form_error.len > 0
<div class="form-error">@ctx.form_error</div>
@end

<details>
    <summary>Change password</summary>
    <form action="/profile/change_pass" method="post">
        <div class="form-control">
            <label for="inp-oldpass">Old password:</label>
            <input id="inp-oldpass" name="oldpass" type="password" />
        </div>
        <div class="form-control">
            <label for="inp-pass">New password:</label>
            <input id="inp-pass" name="pass" type="password" />
        </div>
        <div class="form-control">
            <label for="inp-vpass">Verify new password:</label>
            <input id="inp-vpass" name="vpass" type="password" />
        </div>
        <button>Change</button>
    </form>
</details>

<details>
    <summary>Sessions</summary>
    @if tokens.len > 0
    <ul class="items">
        <li>
            <a href="javascript:void(0)" class="danger" data-delete="/profile/session_end_all"
                onclick="show_confirm(event)">
                Logout all other sessions
            </a>
        </li>
        @for session in tokens
        <li class="item">
            <strong>@session.name</strong>
            <br>
            @session.last_activity <br>
            @if session.value == token
            <em>(This device)</em>
            @end
            <a href="javascript:void(0)" class="danger" data-delete="/profile/session_end/@session.id"
                onclick="show_confirm(event)">Logout</a>
        </li>
        @end
    </ul>
    @end
</details>