<p>
    <a href="/user"><button type="button">&larr; Back</button></a>
</p>

@if ctx.form_error.len > 0
<div class="form-error">@ctx.form_error</div>
@end

<form action="/user/edit/@id" method="post">
    <div class="form-control">
        <label for="inp-username">username:</label>
        <input id="inp-username" name="username" type="text" value="@user.username" />
    </div>
    <button>Save</button>
</form>