<script>
    function show_confirm(e) {
        const el = e.target
        const url = el.dataset.delete || ''
        if (!url.length) return
        const dialog = document.createElement('span')
        dialog.classList.add('danger')
        dialog.innerHTML = 'Are you sure? <a href=":url:">yes</a>, <a href="javascript:void(0)" onclick="hide_confirm()">no</a>'
            .replaceAll(':url:', url)
        el.style.display = 'none'
        el.parentNode.insertBefore(dialog, el.nextSibling)
    }

    function hide_confirm() {
        if (!event) return
        el = event.target.parentNode
        el.previousSibling.style.display = ''
        el.remove()
    }
</script>