<header>
    <a href="/">
        @{app.config('site.title')}
    </a>

    <nav>
        <a href="/blog">Blog</a>
        @if app.user.id > 0
        <a href="/pages">Pages</a>
        <a href="/profile">Profile</a>
        <a href="/files">Files</a>
        @if app.user.is_admin > 0
        <a href="/user">Users</a>
        @end
        <a href="/logout">Logout</a>
        @end
    </nav>

</header>